<nav class="navbar navbar-default navbar-fixed-top classic-navbar" role="banner"><div class="header">
		<div class="header header-slide" ng-click="menuOpen =!menuOpen" ng-class="{'open' : menuOpen}">
            <div class="icon-menu2"></div>
        </div>
		<div class="title"><b>{{::appName}}</b></div>
    </div>
</nav><div class="block-button">
	<div class="" ng-click="back()" ng-show="closeButton">
		<span class="glyphicon glyphicon-remove animated fadeIn btn" aria-hidden="true"></span>
	</div>
</div>
<div style="overflow-x: hidden"></div>
<div class="slide-menu" ng-class="{'open' : menuOpen}">
	<div id="menu" class="zone" ng-controller="keosu-menuController" ng-init='init({"host":"http:\/\/localhost\/keosu\/web\/app_dev.php\/","gadgetId":9,"pageId":1,"gadgetParam":{"menu-id":1},"appParam":[]})'><div ng-controller="keosu-menuController" class=" row-fluid menu">

	<div ng-controller="keosu-menuController" class=" row-fluid menu">
		<div ng-repeat="page in pages" class="menu-elements item-menu-list">
			<a href="#/Page/{{::page.id}}">
				<img ng-if="page.icon" ng-src="{{ getPath(page.icon, page.iconActive,page.id) }}"  ng-class="getClass(page.id)" />
				<span class="titre-menu-list" ng-bind="page.name"></span>
			</a>
		</div>
	</div>
</div></div>
</div>
<div class="">
	<div class="container-fluid">
		<div id="body" class="zone" ng-controller="keosu-around-meController" ng-init='init({"host":"http:\/\/localhost\/keosu\/web\/app_dev.php\/","gadgetId":47,"pageId":1,"gadgetParam":{"title":null,"tag":null,"cache":10,"timeout":10},"appParam":[]})'><div class="animated fadeIn">
    <div ng-bind-html="error"></div>
    <div class="row-fluid">
        <h4 class="title" ng-bind-html="title"></h4>
    </div>
    <div id="map_all"></div>
</div></div>
	</div>
</div>