<nav class="navbar navbar-default navbar-fixed-top classic-navbar" role="banner"><div class="backButton" ng-click="back()" ng-show="previousButton">
		<span class="fui-arrow-left animated fadeIn btn" aria-hidden="true"></span>
	</div>
	<div class="backButton" ng-click="back()" ng-show="closeButton">
		<span class="glyphicon glyphicon-remove animated fadeIn btn" aria-hidden="true"></span>
	</div>
	<div>
		<h2 class="title">{{::appName}}</h2>
	</div>
</nav><div class="content">
	<div class="container-fluid">
		<div id="top-body" class="zone" ng-controller="keosu-articleController" ng-init='init({"host":"http:\/\/localhost\/keosu\/web\/app_dev.php\/","gadgetId":3,"pageId":2,"gadgetParam":{"article-id":2,"offline":false,"cache":10,"timeout":10},"appParam":[]})'><div class="animated fadeIn">
	<div ng-bind-html="error"></div>
	<keosu-share object="article" url="article.shareUrl"></keosu-share>
	<h4 class="title" ng-bind-html="::article.title"></h4>
	<hr>
	<ul class="img-list" style="list-style: none; margin: 0;padding: 0;">
		<li ng-repeat="img in article.attachments">
			<img class="center" ng-if="img" ng-src="{{ ::img.path }}" alt="" style="width:100%; height: auto; overflow:hidden;"/>
		</li>
	</ul>
	<hr>
	<div class="gadget-content article">
		<div class="row-fluid">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<div ng-bind-html="::article.content"></div>
			</div>
		</div>
	</div>
	<keosu-comments object-id="article.id" object-name="article.dataModelObjectName" enable-comments="article.enableComments" ></keosu-comments>
</div>
</div>
		<div id="bottom-body" class="zone" ng-controller="keosu-mapController" ng-init='init({"host":"http:\/\/localhost\/keosu\/web\/app_dev.php\/","gadgetId":4,"pageId":2,"gadgetParam":{"poiId":1,"zoom":1,"cache":10,"timeout":10},"appParam":[]})'><div ng-bind-html="error"></div>
<h4 class="title">{{ title }}</h4>
<hr>
<div class="gadget-content">
	<div class="row-fluid">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div ng-bind-html="content"></div>
		</div>
	</div>
</div>
<hr>
<div id="map_canvas"></div>
<keosu-comments object-id="map.id" object-name="map.dataModelObjectName" enable-comments="map.enableComments" ></keosu-comments>

</div>
	</div>
</div>

<div class="offline">
	<div ng-show="{{offline}}">Network unreachable</div>
</div>

<footer id="menu" class="zone classic-menu navbar-fixed-bottom">
	 
</footer>